In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report

## Reading Data

In [14]:
# GALAXY DATASET
def DatasetGALAXY():
    df = pd.read_csv('../../Data/galaxymorphology/dataset1_sydney.csv')
    df.head()
    df['target'].value_counts()
    mapping = {
        'elliptical': 0,
        'spiral':1
    }
    df['target'] = df['target'].map(mapping)
    df = df.sample(df.shape[0])
    return df
df = DatasetGALAXY()

In [69]:
#CAR DATASET
def DatasetCAR():
    df = pd.read_csv('../../Data/dataset1-car/car_dataset.csv')
    
    df['buying'].replace(['vhigh', 'high', 'med', 'low'],[3,2,1,0], inplace = True)
    df['maintenance'].replace(['vhigh', 'high', 'med', 'low'],[3,2,1,0], inplace = True)
    df['doors'].replace(['2', '3', '4', '5more'],[2,3,4,5], inplace = True)
    df['persons'].replace(['2', '4', 'more'],[2,4,5], inplace = True)
    df['lug_boot'].replace(['small', 'med', 'big'],[1,2,3], inplace = True)
    df['safety'].replace(['high', 'med', 'low'],[3,2,1], inplace = True)
    df['target'].replace(['unacc', 'acc', 'good', 'vgood'],[0,1,2,3], inplace = True)
    df= df[df.target !=3]
    df= df[df.target !=2]
    df = df.sample(df.shape[0])
    return df

df = DatasetCAR()

In [48]:
#IRIS DATASET
def DatasetIRIS():
    df = pd.read_csv('../../Data/iris/iris.data')
    df['target'].replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],[0,1,2], inplace = True)
    df = df.sample(df.shape[0])
    return df
df = DatasetIRIS()

In [63]:
#TITANIC DATASET
def DatasetTITANIC():
    df = pd.read_csv('../../Data/Titanic/train.csv')
    df.drop(columns = ['Cabin', 'Embarked', 'Ticket','Name','PassengerId'], inplace=True)
    df['Sex'].replace(['male', 'female'],[0,1], inplace = True)
    df =df.dropna()
    
    return df
df = DatasetTITANIC()

In [64]:
df

      Pclass  Sex   Age  SibSp  Parch      Fare  target
0          3    0  22.0      1      0    7.2500       0
1          1    1  38.0      1      0   71.2833       1
2          3    1  26.0      0      0    7.9250       1
3          1    1  35.0      1      0   53.1000       1
4          3    0  35.0      0      0    8.0500       0
...      ...  ...   ...    ...    ...       ...     ...
1300       3    1   3.0      1      1   13.7750       0
1302       1    1  37.0      1      0   90.0000       1
1303       3    1  28.0      0      0    7.7750       0
1305       1    1  39.0      0      0  108.9000       1
1306       3    0  38.5      0      0    7.2500       0

[1045 rows x 7 columns]

# KNN Algorithm

In [16]:
def distance(x_query, x):
    return np.sum((x_query - x)**2)**0.5

In [17]:
def kNN(X, y, x_test, k=5):

    train_size = X.shape[0]
    
    pred = []
    for x_query in x_test:
        distances = []
        for i in range(train_size):
            dis = distance(x_query, X[i])
            
            distances.append((dis, y[i]))
    
            distances = sorted(distances)
            distances = distances[:k]

        distances = np.array(distances)
        labels = distances[:,1]

        uniq_label, counts = np.unique(labels, return_counts=True)   
        pred.append(int(uniq_label[counts.argmax()]))

    return pred

In [18]:
def get_overall_cm(df):
    classes = df['target'].nunique()
    if classes < 2:
        classes = 2
    overall_cm = []
    for i in range(classes):
        overall_cm.append( [0] * classes)
    return overall_cm

In [67]:
def Kfold(df,n_folds, test_size, overall_cm):
    # Iterate through all folds
    for i in range(n_folds):
        # split test and train
        test = df.iloc[test_size * i : test_size*i+test_size]
        train = df.iloc[test_size:]

        # remove target label and convert it to numpy for KNN to work
        X_train = test.iloc[:,:-1].to_numpy()
        y_train = test.iloc[:,-1].to_numpy()
        X_test = test.iloc[:,:-1].to_numpy()
        y_test = test.iloc[:,-1].to_numpy()

        #start training and testing the dataset
        y_pred = kNN(X_train, y_train, X_test, k=7)
        # generate and append cm 

        overall_cm = overall_cm + confusion_matrix(y_test, y_pred)
    return overall_cm

# TRAIN + TEST

In [68]:
if __name__ == "__main__":
    # KFOLD take in n folds and the size of dataset
    n_folds = 2
    test_size = int(df.shape[0]/n_folds)

    # get overall cm returns a Confusion matrix with 0's shape depends on (classes)
    final_confusion_matrix= Kfold(df,n_folds, test_size, get_overall_cm(df))
    print(final_confusion_matrix)

[[508 109]
 [163 264]]

In [ ]:
#from sklearn.model_selection import KFold, cross_val_score
# from sklearn.metrics import make_scorer
#  kf = KFold(n_splits=n_folds)
# overall_cm = [[0, 0], [0, 0]]
# cross_val_score(kNN, X_train, y_train, scoring=make_scorer(classification_report_with_accuracy_score))
# overall_cm = overall_cm + confusion_matrix(originalclass, predictedclass)